DATA VISULAIZATION AND DATA PREPROCESSOR

In [ ]:
import numpy as np
import pandas as pd

LOAD THE DATASE

In [ ]:
df=pd.read_csv("/content/Churn_Modelling.csv")

VISUALIZATION

UNIVARIATE ANALYSIS

In [ ]:
df.head()

,RowNumber,CustomerId,Surname,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,1,15634602,Hargrave,619,France,Female,42,2,0.00,1,1,1,101348.88,1
1,2,15647311,Hill,608,Spain,Female,41,1,83807.86,1,0,1,112542.58,0
2,3,15619304,Onio,502,France,Female,42,8,159660.80,3,1,0,113931.57,1
3,4,15701354,Boni,699,France,Female,39,1,0.00,2,0,0,93826.63,0
4,5,15737888,Mitchell,850,Spain,Female,43,2,125510.82,1,1,1,79084.10,0

UNIVARIATE ANALYSIS AND DESCRIPTIVE STATISTICS

In [ ]:
#calculate mean of 'Age'
df['Age'].mean()

38.9218

In [ ]:
#calculate median of 'Age'
df['Age'].median

<bound method NDFrame._add_numeric_operations.<locals>.median of 0       42
1       41
2       42
3       39
4       43
        ..
9995    39
9996    35
9997    36
9998    42
9999    28
Name: Age, Length: 10000, dtype: int64>

In [ ]:
#calculate standard deviation of 'Age'
df['Age'].std()

10.487806451704609

BIVARIATE ANALYSIS

In [ ]:
#create correlation matrix
df.corr()

,RowNumber,CustomerId,CreditScore,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
RowNumber,1.000000,0.004202,0.005840,0.000783,-0.006495,-0.009067,0.007246,0.000599,0.012044,-0.005988,-0.016571
CustomerId,0.004202,1.000000,0.005308,0.009497,-0.014883,-0.012419,0.016972,-0.014025,0.001665,0.015271,-0.006248
CreditScore,0.005840,0.005308,1.000000,-0.003965,0.000842,0.006268,0.012238,-0.005458,0.025651,-0.001384,-0.027094
Age,0.000783,0.009497,-0.003965,1.000000,-0.009997,0.028308,-0.030680,-0.011721,0.085472,-0.007201,0.285323
Tenure,-0.006495,-0.014883,0.000842,-0.009997,1.000000,-0.012254,0.013444,0.022583,-0.028362,0.007784,-0.014001
Balance,-0.009067,-0.012419,0.006268,0.028308,-0.012254,1.000000,-0.304180,-0.014858,-0.010084,0.012797,0.118533
NumOfProducts,0.007246,0.016972,0.012238,-0.030680,0.013444,-0.304180,1.000000,0.003183,0.009612,0.014204,-0.047820
HasCrCard,0.000599,-0.014025,-0.005458,-0.011721,0.022583,-0.014858,0.003183,1.000000,-0.011866,-0.009933,-0.007138
IsActiveMember,0.012044,0.001665,0.025651,0.085472,-0.028362,-0.010084,0.009612,-0.011866,1.000000,-0.011421,-0.156128
EstimatedSalary,-0.005988,0.015271,-0.001384,-0.007201,0.007784,0.012797,0.014204,-0.009933,-0.011421,1.000000,0.012097
Exited,-0.016571,-0.006248,-0.027094,0.285323,-0.014001,0.118533,-0.047820,-0.007138,-0.156128,0.012097,1.000000

HANDLE THE MISSING VALUES

In [ ]:
import numpy as np
import pandas as pd

In [ ]:
df.isnull()

FIND THE OUTLIERS AND REPLACING THE OUTLIERS

In [2]:
df.decribe()[['Age','Balance']]

NameError: ignored

CATEGORICAL COLUMMN AND PERFORM ENCODING

In [5]:
print(Churn_Modeling['Age'].dtypes)

NameError: ignored

SPLIT THE DATA IN TO DEPENDENT AND INDEPENDENT VARIABLES

In [9]:
df=pd.read_csv("/content/Churn_Modelling.csv")

NameError: ignored

In [ ]:
x=df.iloc[:,:-1].values
print(x)

In [ ]:
y=df.iloc[:,-1].values
print(y)

SCALE THE INDEPENDENT VALUES

In [ ]:
y=df.iloc[:,-1].values
print(y)

SPLIT THE DATA INTO TRAINING AND TESTING

In [ ]:
X_train, X_test, y_train, y_test = train_test_split(
    X, y, age=0.05, balance=0)